/* body [class*="col-"] {
  height: 100px;
  border: 1px solid red;
  background-color: #7b5ab1;
} */

body{
  font-family: 'Roboto', sans-serif;
}


/* UTILITY */
.p-40{
  padding: 40px;
}
.p-30{
  padding: 30px;
}
.p-20{
  padding: 20px;
}

.m-50{
  margin: 50px auto;
}
.m-40{
  margin: 40px auto;
}
.m-30{
  margin: 30px auto;
}
.m-20{
  margin: 20px auto;
}

.mt-40{
  margin-top: 40px;
}
.mt-30{
  margin-top: 30px;
}
.mt-20{
  margin-top: 20px;
}

.mb-40{
  margin-bottom: 40px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: #71e6ff;
}

/* COLORI */
.text_white{
  color: white;
}
.text_blue{
  color: #0069FF;
}
.text_grey{
  color: grey;
}
.text_lightgrey{
  color: lightgrey;
}
.bg_lightgrey{
  background-color: #F3F5F9;
}
.bg_darkblue{
  background-color: #031C4E;

}
.bg_lightblue{
  background-color: #006AFF;
}
.bg_blue{
  background-color: #1633FF;
}
.bg_white{
  background-color: white;
}

.container-sm{
  width: 80%;
  margin: auto;
}

/* NAVBAR */

/* JUMBO */
.jumbotron{
  min-height: 500px;
  background-image: url('../img/bgpesce.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
.jumbotron .card{
  padding: 10px 20px 20px;
  border-radius: 5px;
}
.jumbotron h2{
  margin: 2rem 0;
}
.jumbotron .form .btn img{
  height: 20px;
}

/* MAIN SECTION */
#corp ul li{
  padding: 10px;
}

#deploy ul{
  list-style: none;
  margin-top: 20px;
  color: lightgrey;
  border-left: 2px solid;
  padding-left: 1rem;
}
#deploy ul li{
  font-size: 18px;
  font-weight: bold;
  line-height: 4rem;
}
#deploy .row{
  margin: 20px 0;
}

#designed img, #develop img{
  width: 100%;
}
#designed i, #develop i{
  font-size: 5rem;
  margin-top: 50%;
}
#designed [class*="col-"]:first-child, #develop [class*="col-"]:first-child {
  text-align: right;
}
#designed [class*="col-"]:last-child, #develop [class*="col-"]:last-child {
  text-align: left;
}

#service, #started {
  background-color:#1633FF;
  background-image: linear-gradient(#1633FF, #0015ac);
}
#started h2{
  margin-top: 0;
}
#started button{
  color: #1633FF;
}

#service [class*="col-"] .row:not(:last-child){
  border-bottom: 1px solid white;
}
#service .row>.col-lg-6{
  padding-right: 50px;
}
#service .row{
  margin-top: 10px;
}


/* FOOTER */

#site_footer h5{
  font-size: 18px;
}
#site_footer .row img{
  width: 50px;
  padding: 10px 0;
}


#site_footer ul li i{
  font-size: 2.5rem;
  padding: 10px 10px 0 0;
}

#site_footer .col-lg-8 ul li{
  line-height: 3rem;


}
#site_footer .col-lg-8 ul li a{
  color: lightgrey;
}




/* .bot{
  display: inline-block;
}

.baloon{
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
} */


.bot{
  position: fixed;
  bottom: 30px;
  right: 80px;
}


.bubble{
  display: inline-block;
  position: relative;
  padding: 7px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #2F2E2E solid 3px;
}

.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -20px;
  top: 82px;
}

.bubble:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 0 12px 22px;
  border-color: transparent #2F2E2E;
  display: block;
  width: 0;
  z-index: 0;
  right: -25px;
  top: 80px;
}








/* FINE */
