/* body [class*="col-"] {
  height: 100px;
  border: 1px solid red;
  background-color: #7b5ab1;
} */

body{
  font-family: 'Roboto', sans-serif;
}


/* UTILITY */
.p-40{
  padding: 40px;
}
.p-30{
  padding: 30px;
}
.p-20{
  padding: 20px;
}

.m-50{
  margin: 50px auto;
}
.m-40{
  margin: 40px auto;
}
.m-30{
  margin: 30px auto;
}
.m-20{
  margin: 20px auto;
}

.mt-40{
  margin-top: 40px;
}
.mt-30{
  margin-top: 30px;
}
.mt-20{
  margin-top: 20px;
}

.mb-40{
  margin-bottom: 40px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: black;
}

/* COLORI */
.text_white{
  color: white;
}
.text_blue{
  color: #0069FF;
}
.bg_lightgrey{
  background-color: #F3F5F9;
}
.bg_darkblue{
  background-color: #010E28;

}
.bg_lightblue{
  background-color: #006AFF;
}
.bg_blue{
  background-color: #1633FF;
}
.bg_white{
  background-color: white;
}



.container-sm{
  width: 80%;
  margin: auto;
}




/* JUMBO */
.jumbotron{
  min-height: 500px;
  background-image: url('../img/bgpesce.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
.jumbotron .card{
  padding: 10px 20px 20px;
  border-radius: 5px;
}
.jumbotron h2{
  margin: 2rem 0;
}
.jumbotron .form .btn img{
  height: 20px;
}

/* MAIN SECTION */
#corp ul li{
  padding: 10px;
}

#deploy ul{
  list-style: none;
  margin-top: 20px;
  color: lightgrey;
  border-left: 2px solid;
  padding-left: 1rem;
}
#deploy ul li{
  font-size: 18px;
  font-weight: bold;
  line-height: 4rem;
}
#deploy .row{
  margin: 20px 0;
}

#designed img, #develop img{
  width: 100%;
}
#designed i, #develop i{
  font-size: 5rem;
  margin-top: 50%;
}
#designed [class*="col-"]:first-child, #develop [class*="col-"]:first-child {
  text-align: right;
}
#designed [class*="col-"]:last-child, #develop [class*="col-"]:last-child {
  text-align: left;
}


#service, #started {
  background-color:#1633FF;
  background-image: linear-gradient(#1633FF, #0015ac);
}

#started h2{
  margin-top: 0;
}

#started button{
  color: #1633FF;
}















/* FINE */
